/* ============================================= */
/*              Variables                      */
/* ============================================= */

// Descriptive color variables


$viking:#58E1C1;
$azure-radiance:#449cee;
$malibu:#9fc5e8;
$coral:#FD7856;
$vivid-tangerine:#fd9f85;
$sunglo:#e4757a;
$white:#fff;
$gallery:#EFEFEF;
$california:#ff9904;
$beige:#f7f5f0;


// Functional color variables

$body-background :$beige;
$headline-primary:$viking;
$border-color:$malibu; 
$border-color-hover:$california;

$background-color-secondary:$azure-radiance;
$skills-li-background:$california;
$nav-color:$gallery;

//links
$link-unactived:$azure-radiance;
$link-hover:$california;

//button color variables
$button-background-default:$california;
$button-background-hover:$azure-radiance;


//media-querie variables 

$min-width-ipad:720px;
$max-width-display:1200px;
$header-min-height:470px;