/* ============================================= */
/*              Buttons                          */
/* ============================================= */
.button {
  @include button-style;
  transition:background-color 0.5s linear;
  &:hover{ 
    background-color: $azure-radiance;
    border: 2px solid $beige;
  } 
}