
/* ============================================= */
/*              Images                           */
/* ============================================= */

header {
  text-align: center;
  background: url('/images/winnipeg.jpg') no-repeat center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}
header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 70%;
  border: 4px solid orange;
  transition: all .5s;
}
header .profile-image:hover {
  transform: scale(1.3) rotate(30deg);
}

.resumeImg{
  @include style-img;
  border:4px solid #9fc5e8; 
  border-radius:10%;
  &:hover{
  
    border:4px solid orange; 
  }
  }
  
  